.custom-navbar {
    background-color: #faac55 !important; /* Cambia el color a tu preferencia */
}
  
.logo{
  height: 75px;
  padding: 10px;
}
button{
  background-color: #4CAF50;
  border: 0px;
}
button:hover:not(:disabled) {
  background-color: #45a049;
}