.page-not-found-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - auto); /* Ajusta este valor según la altura de tu header y footer */
    min-height: 400px; /* Establece una altura mínima */
  }
  
  .page-not-found-content {
    text-align: center;
  }
  
  